html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

img{
    max-width: 100%;
    display: block;
}

/* Header y Navegacion */

header{
    /* font-size: 200px; */
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #2988E0;
}

.contenedor-navegacion{
    border-top: .1rem solid #C1C1C1;
}

.baner{
    background-image: url('../images/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* 

id = debe ser unico 
class = si se pueden repetir y tambien se puede usar
        varias en una sola etiqueta

*/

.nav-principal{
    padding: 1rem 0;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* flex-direction: column;
    height: 300px; */
}

/* Categorias */

.categorias{
    padding-top: 5rem;
}

.categorias h2 {
    text-align: center;
    font-size: 2.5rem;

}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #828282;
    border-bottom-right-radius: 1rem;
}

.categoria a:hover{
    background-color: #2988E0;
    color: white;
}

.listado-categorias{
    display: grid;

    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 200px); */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

/* Sobre nosotros */

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #2988E0 50% , #2988E0 100%), url(../images/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;

}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
}

.texto-nosotros{
    grid-column: 2 / 3;
    color: white;
}