html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

img{
    max-width: 100%;
    display: block;
}

.btn {
    color: black;
    background-color: #9BFB99;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #5FBB5D;
}

/* Utilitarios */
.text-center {
    text-align: center;
}

/* Header y Navegacion */

header{
    /* font-size: 200px; */
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #2988E0;
}

.contenedor-navegacion{
    border-top: .1rem solid #C1C1C1;
}

.baner{
    background-image: url('../images/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* 

id = debe ser unico 
class = si se pueden repetir y tambien se puede usar
        varias en una sola etiqueta

*/

.nav-principal{
    padding: 1rem 0;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* flex-direction: column;
    height: 300px; */
}

/* Categorias */

.categorias{
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.categorias h2 {
    text-align: center;
    font-size: 2.5rem;

}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #828282;
    border-bottom-right-radius: 1rem;
}

.categoria a:hover{
    background-color: #2988E0;
    color: white;
}

.listado-categorias{
    display: grid;

    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 200px); */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

/* Sobre nosotros */

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #2988E0 50% , #2988E0 100%), url(../images/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin-bottom: 5rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
}

.texto-nosotros{
    grid-column: 2 / 3;
    color: white;
}

/* Listado de Productos */

.contenido-principal {

}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto { 
    background-color: #2988E0;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

.texto-producto {
    color: white;
    text-align: center;
    padding: 2rem;

}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2.5rem;
    font-weight: 900;
}

/* .texto-producto a {
    color: black;
    background-color: #9BFB99;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.texto-producto a:hover {
    background-color: #5FBB5D;
} */

/* .producto img {
    transition: transform .3s ease-out;
}

.producto img:hover {
    transform: scale(.8);
} */

/* Footer */

.site-footer{
    border-top: 1px solid #C1C1C1;
    margin-top: 3rem;
    padding-top: 3rem;
}

.site-footer h3 {
    margin-bottom: .5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a{
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #828282;
}

.copyright {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #828282;
}